---
layout: page
title: Προορισμοί
permalink: /pois/
background: '/assets/images/destination.jpg'
---
<h2>Jurassic Park</h2>
<ul style="display: flex; list-style-type: none; ">
  {% assign filtered_pois = site.pois | where: "category", "Jurassic Park" %}
  {% for poi in filtered_pois %}
    <li style="margin-right: 20px; width: 40%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); padding: 10px; border-radius: 5px;">
      <a href="/heritage-promotion{{ poi.url }}">

        {% if poi.image %}
          <img src="/heritage-promotion{{ poi.image }}" alt="/heritage-promotion{{ poi.title }} image" style="width: 229px; height: 170px; display: block; align: center; margin-left: auto; margin-right: auto;"/>
        {% endif %}
        <br>
        <h2>{{ poi.title }}</h2>
      </a>
    </li>
  {% endfor %}
</ul>

<br>

<h2>Harry Potter</h2>
<ul style="display: flex; list-style-type: none; ">
  {% assign filtered_pois = site.pois | where: "category", "Harry Potter" %}
  {% for poi in filtered_pois %}
    <li style="margin-right: 20px; width: 40%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); padding: 10px; border-radius: 5px;">
      <a href="/heritage-promotion{{ poi.url }}">

        {% if poi.image %}
          <img src="/heritage-promotion{{ poi.image }}" alt="/heritage-promotion{{ poi.title }} image" style="width: 229px; height: 170px; display: block; align: center; margin-left: auto; margin-right: auto;"/>
        {% endif %}
        <br>
        <h2>{{ poi.title }}</h2>
      </a>
    </li>
  {% endfor %}
</ul>

<br>

<h2>Lord of the Rings</h2>
<ul style="display: flex; list-style-type: none; ">
  {% assign filtered_pois = site.pois | where: "category", "Lord of the Rings" %}
  {% for poi in filtered_pois %}
    <li style="margin-right: 20px; width: 40%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); padding: 10px; border-radius: 5px;">
      <a href="/heritage-promotion{{ poi.url }}">

        {% if poi.image %}
          <img src="/heritage-promotion{{ poi.image }}" alt="/heritage-promotion{{ poi.title }} image" style="width: 229px; height: 170px; display: block; align: center; margin-left: auto; margin-right: auto;"/>
        {% endif %}
        <br>
        <h2>{{ poi.title }}</h2>
      </a>
    </li>
  {% endfor %}
</ul>
